// ******* Welcome to [A-10 Lab] WebSite css code 

@font-face 
{
  font-family: 'Rogan-Light';
  src: 
  url('/fonts/Rogan-Light.woff') format('woff'),
  url('/fonts/Rogan-Light.woff2') format('woff2');
  font-weight: light;
  font-style: normal;
}

// Variables
$website-width: 2000px;
$main-color: #c20912;
$light-color: #fff;
$medium-color: rgb(70, 2, 2);
$dark-color: rgb(3, 3, 3);
$bg-image: url('../img/A-10-LAB.jpg');
$bg-image2: url('../img/bg.jpg');
$bg-image3: rgb(63, 63, 63);
$bg-image4: url('../img/Pattern.png');

// Set Text Color
@function set-text-color($color) 
{
  @if (lightness($color) > 50) 
  {
    @return #000;
  } @else {
    @return #fff;
  }
}

.container 
{
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Buttons
%btn-shared 
{
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  font-size: 1.2rem;
  cursor: crosshair;
}

.btn 
{
  &-main 
  {
    @extend %btn-shared;
    color: #fff;
    
  }

  &-light 
  {
    @extend %btn-shared;
    color: #fff;
    
  }

  &-dark 
  {
    @extend %btn-shared;
    color: #f4f4f4;
    
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover 
{
  background-color: $medium-color;
}

// Backgrounds
.bg 
{
  &-main 
  {
    background: $light-color;
    color: set-text-color(#fff);
  }
  &-dark 
  {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light 
  {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium 
  {
    background: $light-color;
    color: set-text-color(#fff);
  }
}

.lead 
{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center 
{
  text-align: center;
}

// Padding
.py 
{
  &-1 
  {
    padding: 1rem 0;
  }
  &-2 
  {
    padding: 2rem 0;
  }
  &-3 
  {
    padding: 3rem 0;
  }
  &-4 
  {
    padding: 4rem 0;
  }
  &-7
  {
    padding: 7rem 0;
  }
}

.px-1
{
  padding: 0 2rem;
}

// Margin
.my 
{
  &-1 
  {
    margin: 1rem 0;
  }
  &-2 
  {
    margin: 2rem 0;
  }
  &-3 
  {
    margin: 3rem 0;
  }
  &-4 
  {
    margin: 4rem 0;
  }
}

.section-title 
{
  font-size: 2rem;
  display: block;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
}
.left
{
  text-align: left;
  padding: 0 1rem;
  margin-top: 2.5rem;
}

.white
{
  color: #fff;
}

.bottom-line 
{
  height: 2px;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}

.items 
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item 
{
  position: relative;
  background: $main-color;
  overflow: hidden;

  &::after 
  {
    content: '';
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  // Bring in main color overlay
  &:hover:after 
  {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  // Scale image on hover
  &:hover &-image 
  {
    transform: scale(1.2);
  }

  // Bring in text on hover
  &:hover &-text 
  {
    opacity: 1;
    transform: translateY(0);
  }

  &-image 
  {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-image:before 
  {
    content: '';
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }

  &-image img 
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
  }

  &-text 
  {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms;
  }

  &-text-wrap 
  {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &-text-title 
  {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 5px 0 0 0;
  }

  &-text-category 
  {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0;
  }
}

// ******* General Styles
:root
{
  a 
  {
    cursor: crosshair;
  }
  background-color: $dark-color;
}

* 
{
  margin: 0;
  padding: 0;
}

body 
{
  font-family: 'Rogan-Light', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: rgb(0, 0, 0);
}

.page-1
{
  height: 100vh;
}

a 
{
  text-decoration: none;
  color: $dark-color;
}

ul 
{
  list-style: none;
}

h2,
h3,
h4 
{
  text-transform: uppercase;
}

img 
{
  width: 100%;
}

// Logo
#logo 
{
  width: 100%;
  height: auto;
  color: #fff;
  text-transform: uppercase;
}

// Main Nav
#main-nav 
{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 1);
  padding: 2vh 2rem;
  
  ul 
  {
    display: flex;
  }

  li 
  {
    padding: 1rem 2rem;
  }

  a 
  {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover 
    {
      border-color: $medium-color;
    }

    &.current 
    {
      border-color: $main-color;
      
    }
  }
}

// Header
#header 
{
  // Header Home
  &-home 
  {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;
    background-position: center top;
    
    // Header Content
    .header-content 
    {
      text-align: center;
      padding-top: 20%;
      
      h1 
      {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
  
  // Header Inner
}

.txt-type
{
  color: $main-color;
}

.txt-big
{
  font-size: 3rem;
  color: #fff;
  display: block;
}

.txt-medium
{
  font-size: 1.5rem;
  color: #fff;
}

.red
{
  color:$main-color;
}

.bg-dark
{
  background-color: $dark-color;
  color: #fff;
}

// Home Sections
#home 
{
  // Home Section A
  &-a 
  {
    background: $bg-image2 no-repeat center right / cover;
    .specials 
    {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fas 
      {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }

  // Home Section B
  &-b 
  {
    background: $bg-image2 no-repeat center right / cover;
    .stats 
    {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      color: #fff;;
      li 
      {
        line-height: 2;

        &.stats-title 
        {
          font-size: 1.5rem;
        }

        &.stats-number 
        {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div 
      {
        padding: 3rem 0;

        &:nth-child(even) 
        {
          background: linear-gradient(-45deg, #000, #460202, #c20912);
          background-size: 400% 400%;
          animation: gradient 15s ease infinite;
        }
      }
    }
  }

  // Home Section C
  &-c 
  {
    background: $bg-image2 no-repeat center right / cover;
    .process 
    {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      // process-step
      &-step 
      {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }

      // process-icon
      &-icon 
      {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover 
        {
          background: $medium-color;
          
          .process-step 
          {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

// About Sections
#about 
{
  // About A
  &-a
  {
    background: $bg-image2 no-repeat center right / cover;
    
    .about-info 
    {
      display: grid;
      grid-template-columns: 300px 1fr; 
      grid-gap: 1.2rem;
      margin-top: 1rem;
    }

    // Grid Area
    .bio 
    {
      position: relative;
      border-left: 3px solid $medium-color;
      padding: 0.8rem;
    }
    
  }
  // About B
  &-b 
  {
    background: $bg-image2 no-repeat center right / cover;
    .progress 
    {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div
      {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }
  // About C
  &-c 
  {
    background: $bg-image2 no-repeat center right / cover;
    padding-bottom: 7rem;
    .about-logos 
    {
      display: flex;
      justify-content: space-around; 
      img 
      {
        width: 20%;
      }
    }
  }
  // About D
  &-d 
  {
    .testimonials 
    {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.5rem;

      ul 
      {
        list-style: none;
        margin-top: 1rem;
        display: flex;
        align-items: center;
      }

      p 
      {
        border: 1px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      }

      img 
      {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }
}

// Work 
#work-a
{
  background: $bg-image2;
}

// Contact Page
#contact 
{ 
  &-a 
  {
    background: linear-gradient(-45deg, #000, #460202, #c20912);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 50vh;
    padding-top: 20vh;
  }
  
  &-b 
  {
    .contact-info 
    {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  }

  &-c 
  {
    background: linear-gradient(-45deg, #460202, #000, #c20912);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    h1 
    {
      text-align: center;
      font-size: 4rem;
      color: #fff;
    }
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

// Footer
#main-footer 
{
  background: $dark-color;
  color: #fff;
  height: 15vh;
  display: flex;
  align-items: center;
}

.social .fab 
{
  position: absolute;
  bottom: 7%;
  left: calc(50% - 20px);
  border: 2px #fff solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;

  &:hover 
  {
    background: $main-color;
  }
}
.blur
{
  background:rgba(0, 0, 0, 0.8);
  color: #fff;
}

.frost {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .8);	
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    color: #fff;
  }
  
  .frost:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, .7);
    filter: blur(3px);
    margin: -20px;
  } 

.absolute
{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
}

// ******* @Media

@media (max-width: 930px) {
  #main-nav {
    flex-direction: column;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.8);
  }
    #main-nav li {
    padding: 1rem; }
    
    #header-home .header-content h1,
    #header-home .header-content a.btn-light
    {
    display: none; }
    #header-inner {
    height: 10rem;
    background-color:rgba(0, 0, 0, 0.8);
  }
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr; }
  #home-a .specials div {
    border-bottom: 1px;
    padding-bottom: 1rem; }
    #home-a .specials div:last-child {
      border: none;
      padding-bottom: 1rem; }
  #home-b .stats div {
    padding: 2rem 0 1rem 0; }
  #about-a .about-info {
    grid-template-columns: 1fr; 
  }
  #about-a .about-info .bio
      { padding: 5rem 1rem; }
  #about-a .about-info .bio-image
  {
  width: 70%;
  height: auto;
  justify-self: center;
  }
    #about-c {
    display: none; }
    #contact-a
    {
      padding-top: 16vh;
    } 
  #contact-b div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;}
    #contact-b div:last-child {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0; }
  #contact-c h1 {
    font-size: 2rem; }
  #main-footer {
    height: 7rem; }
    #main-footer .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem; }
}

@media (max-width: 800px) {
  #header-home {
    height: 30rem; }
    #header-home .header-content {
      padding-top: 5rem; } }

@media (max-width: 580px)
{
  #header-home {
    height: 14rem;
    background-position: 20% 30%; }

  #main-nav
  {
  padding-bottom: 30px;
  }

  #main-nav ul
  {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
  }

  #header-inner 
  {
    height: 14rem;
  }
  
  #contact-a
  {
    padding-top: 12.5vh;
  }
}

@media (max-width: 423px)
{
  #contact-a
  {
    padding-top: 10.5vh;
  }
}

@media (max-width: 400px)
{
  #main-nav.blur div.logo_a-10 span.txt-big
  {
    font-size: 2.5rem;
  }
  #header-inner nav#main-nav span.txt-big
  {
    font-size: 2.5rem;
  }
  #main-nav ul li
  {
    padding: 1rem 0;
  }
}

@media (max-height: 580px) 
{
  #header-home .header-content 
  {
    padding-top: 3rem; 
  }  
}

@media (max-height: 330px) 
{
  #header-home .header-content h1 
  {
    font-size: 2rem; 
  }
}

@media (max-height: 730px) 
{
  #contact-c
  {
    margin:0;
    padding: 0;
  }
  #main-nav
  {
    margin:0;
    padding: 0 0 100px 0;
  }
}

@media (max-height: 900px)
{
  #contact-a
  {
    display: none
  }
}

@media (max-height: 1100px)
{
  #main-nav
  {
    background:rgba(0, 0, 0, 0.8);
  }
}
